APP_NAME=CineTrack
DEBUG=true

# python -c "import secrets; print(secrets.token_urlsafe(64))"
SECRET_KEY=change-me-to-random-64-chars
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

DATABASE_URL=sqlite+aiosqlite:///./cinetrack.db

REDIS_URL=redis://localhost:6379/0

POISKKINO_API_KEY=your_token_here
POISKKINO_BASE_URL=https://api.poiskkino.dev/v1.4